/* Container styling */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

/* Headings styling */
h1{
    text-align: center;
    padding:60px;
}
h1, h4 {
    color: #333;
    font-family: 'Arial', sans-serif;
}

/* Input and Textarea styling */
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.text-cont{
color:white;
background-color: darkblue  ;
}

input[type="text"]:focus,
textarea:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

/* Error message styling */
div[style="color:red"] {
    font-size: 14px;
    margin-bottom: 10px;
}

/* Button styling */
button[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #218838;
}

button[type="submit"]:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}
