<div class="fullScreen" >
   <form class="form" #registerForm="ngForm" (ngSubmit)="register(registerForm)" novalidate>
    <input 
        class="inputEmail" 
        type="email" 
        placeholder="Enter Email" 
        name="email" 
        #email="ngModel"
        ngModel
        required
        email
    />
    <div class="errorDiv" *ngIf="email.touched && !email.valid " style="color:red;" >
        Enter Email
    </div>
    <br><br>
    <input 
        class="inputPass" 
        type="password" 
        placeholder="Enter password" 
        name="password"  
        #password="ngModel"
        ngModel
        required
        minlength="6"
    />
    <div class="errorDiv" *ngIf="password.touched && !password.valid " style="color:red;" >
        Enter a password with at least 6 characters
    </div>
    <br><br>
    <button class="btn-reset" type="button" (click)="reset(registerForm)">Reset</button>
    <button class="btn-green" type="submit" >Submit</button>
</form>
</div>
